/*Required*/
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

/*Optional*/
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";

/*roze kleur == #d66b6b*/

/*HTML5 bekend maken voor oudere browsers*/
article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{
	display: block;
}
figure{
	line-height: 0;
}
img{
	max-width: 100%;
}
/**/
.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
html{
	font-family: 'Open Sans', sans-serif;
}
.subtitle{
	font-family: 'Patrick Hand', cursive;
	text-transform: uppercase;
	font-weight: bold;
}
.btn{
	border-radius: 0;
	padding: 10px;
	text-transform: uppercase;
}
/*====NAV===*/
nav{
	background: #e29898;
	z-index: 12;

	width: 100%;
	position: fixed;
}
nav .nav-link{
	display: inline-block;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px;
}
.nav-link:hover{
	background: #d66b6b;
	padding: 10px;
	color: #a34b4b;
}
.mrg-top{
	padding-top: 20px;
}
.logoimg{
	width: 85px;
	padding: 5px;
	
}
.winkelkar{
	width: 30px;
}
nav-right{
	width: 80%;
	float: right;
	text-align: right;
}



/*====INTRO===*/
.intro{
	width: 100%;
	position: relative;
	margin-bottom: 50px;
}
.header_quote{
	position: absolute;
	top: 180px;
	right: 200px;
	text-transform: uppercase;
	color: white;
}
.btn img{
	width: 16px;
	padding-bottom: 4px;
}
iframe{
	max-width: 100%;
	max-height: 100%;
}

/*====ABOUT US====*/
.aboutus{
	margin-bottom: 50px;
}
.subtitle{
	border-bottom: 10px solid #d66b6b;
	padding-bottom: 10px;
	margin-bottom: 20px;
}/*TODO: LIJN DOORLOPEN LINKS*/
.txt{
	width: 85%;
	text-align: justify;
}
.btn-pink a:hover{
	text-decoration: none;
}
.btn-pink a{
	color: white;
}
.btn-pink {
	background: #d66b6b;
	color: white;
	margin-top: 20px;
}
.btn-pink:hover{
	background: #a34b4b;
	color: white;
}

.img_block{
	
	position: relative;
}
.rel{
	position: absolute;
	right: -25px;
	width: 150px;
	z-index: 8;
}
.roze{
	top: 35px;
}
.geel{
	top: 200px;
}
.groen{
	top: 365px;
}

/*====PRODUCTS====*/
.products{
	margin-bottom: 50px;
}
.card{
	background: #d66b6b;
	border-radius: 0;
	color: white;
}
.card h3{
	color: white;
	text-align: center;
	width: 100%;
	font-size: 26px;
	border-bottom: 1px solid white;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

footer{
	background: #d66b6b;
	color: white;
	width: 100%;
}
footer p{
	margin-left: 10px;
}

/*=================================================CART.PHP*/

.nr-min{
	max-width: 50px;
}
.cart .subtitle{
	margin-top: 140px;
}
.label{
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
}
