/*Required*/
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

/*Optional*/
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";

/*roze kleur == #d66b6b*/

/*HTML5 bekend maken voor oudere browsers*/
article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{
	display: block;
}
figure{
	line-height: 0;
}
img{
	max-width: 100%;
}
/**/
.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
html{
	font-family: 'Open Sans', sans-serif;
}
/*====NAV===*/
nav{
	background: #e29898;
}
nav .nav-link{
	display: inline-block;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px;
}
.nav-link:hover{
	background: #d66b6b;
	padding: 10px;
	color: #a34b4b;
}
.mrg-top{
	padding-top: 30px;
}
.logoimg{
	width: 90px;
	padding: 5px;
}
.winkelkar{
	width: 30px;
}
nav-right{
	width: 80%;
	float: right;
	text-align: right;
}


.subtitle{
	font-family: 'Patrick Hand', cursive;
	text-transform: uppercase;
}